<ion-view view-title="HackABeacon" class="app-title">
  <ion-content class="padding">
    <div class="list card" ng-repeat="beacon in beacons | orderBy:filterParams.predicate:filterParams.reverse">
      <div class="item item-divider"><b>Beacon: </b>{{beacon.name}}</div>
      <div class="item item-body">
        <div>
            <div style="display: inline-block">
                People in range: 
            </div>
            <div style="display: inline-block">
                Accuracy: {{beacon.accuracy}}
            </div>
            <div style="display: inline-block">
                RSSI: {{beacon.rssi}}
            </div>
            <div style="display: inline-block">
                Message: {{beacon.action.tts}}
            </div>
        </div>
          <div>
            <div style="display: inline-block">
                Major: {{beacon.major}}
            </div>
            <div style="display: inline-block">
                Minor: {{beacon.minor}}
            </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>